body {
    background-color: aquamarine;
}

#contenedor{
    width: 550px;
    height: 630px;
    margin: auto;
    background-color: white;
    display: flex;
    border-radius: 5%;
}

#contenedorHijo{
    background-color: rgba(59, 59, 59, 0.13);
    width: 350px;
    height: 425px;
    display: flexbox;
    margin: auto;
    border-radius: 5%;
}
